@charset "utf-8";




/* Main root */
html, body,
/* Document metadata */
base, head, link, meta, style, title,
/* Content sectioning */
address, article, aside, footer, h1, h2, h3, h4, h5, h6, header, hgroup, nav, section,
/* Text content */
blockquote, dd, div, dl, dt, figcaption, figure, hr, li, main, ol, p, pre, ul,
/* Inline text semantics */
a, abbr, b, bdi, bdo, br, cite, code, data, dfn, em, i, kbd, mark, q, rp, rt, rtc, ruby, s, samp, small, span, strong, sub, sup, time, u, var, wbr,
/* Image and multimedia */
area, audio, img, map, track, video,
/* Embedded content */
embed, object, param, source, iframe,
/* Scripting */
canvas, noscript, script,
/* Demarcating edits */
del, ins,
/* Table content */
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
/* Forms */
button, datalist, fieldset, form, input, label, legend, meter, optgroup, option, output, progress, select, textarea,
/* Interactive elements */
details, dialog, menu, menuitem, summary,
/* Web Components */
content, element, shadow, slot, template,
/* Obsolete and deprecated elements */
acronym, applet, basefont, big, blink, center, command, content, dir, element, font, frame, frameset, image, isindex, keygen, listing, marquee, multicol, nextid, noembed, plaintext, shadow, spacer, strike, tt, xmp
{margin:0; padding:0; outline:none;}



*::selection{background:#555/*#ba2727*/; color:#fff; font-weight:bold;}

.JS,
.JS *,
[class*="JS"],
[class*="JS"] *,
[class*=" JS-"],
[class^="JS-"] *,
[class*=" JS-"] *,
[class^="JS-"]{box-sizing:border-box;}

.hide{display:none !important;}
*[use="x"]{display:none !important;}

.cf{}
.cf:after{display:block; content:""; clear:both;}

.tablize{display:table; width:100%; font-size:0; line-height:0; letter-spacing:0;}
.tablize>*{display:inline-block; width:auto; font-size:14px; line-height:1.6; letter-spacing:-0.02em; vertical-align:top;}
.tablize>.tablize{font-size:0; line-height:0;}
.tablize>.tablize>*{font-size:13px; line-height:1.6;}
.split>*{position:relative;}
.split>* + *:after{display:block; position:absolute; top:5px; left:0; content:""; width:1px; height:5px; background:rgba(0,0,0,0.2);}

.tablize.cellize>*{display:table-cell;}


.numb_font{font-family:'Oswald', 'Roboto', 'Nanum Barun Gothic', Nanum Barun Gothic, Verdana,Dotum,AppleGothic,맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;}




.displaynone { display:none !important; }
.align-right{text-align:right;}



/* tag reset */

html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,img{}
html { width:100%; height:100%; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}
head,style,script{display:none !important;}
body,code {font-family:'Montserrat', 'Noto Sans KR', Nanum Barun Gothic, Verdana,Dotum,AppleGothic,맑은 고딕, malgun gothic, AppleGothicNeoSD, Apple SD 산돌고딕 Neo, Microsoft NeoGothic, Droid sans, sans-serif;
font-size:14px; line-height:1.6; letter-spacing:-0.02em; font-weight:normal; color:#333; background:#fff; -webkit-text-size-adjust:none;
}
body { min-width:320px; overflow-y:scroll; word-break:keep-all;}
body#popup { min-width:0; }
ul,ol,li,dd,dt,dl{ list-style:none; }
img,fieldset { border:none; vertical-align:middle; border:0;}
img{height:auto;}
table { width:100%; border:0; border-spacing:0; border-collapse:collapse;}
caption { display:none; }
th,td { border:0; vertical-align:top; }
button { overflow:visible; padding:0; margin:0; border:0; cursor:pointer; outline:none; background:transparent; color:#333;}
textarea{resize:vertical; min-height:18px; outline:none;}
hr.layout { display:none; }
a { text-decoration:none; color:#333; }
a:hover{text-decoration:none;}
a:active { text-decoration:none;}
iframe:focus{outline:none;}
iframe[seamless]{display:block;}
.objHidden { visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; }
#content_CONTAINER table, #bi_inquire_content_CONTAINER table { border:0; margin:0 0 -1px; }
#content_CONTAINER table:before, #bi_inquire_content_CONTAINER table:before { display:none; }
#content_CONTAINER td, #bi_inquire_content_CONTAINER td { width:auto !important; padding:0; }
table.nneditor-table { width:auto !important; }



/* Form */
input,select,textarea {border-radius:5px; font-size:100%; color:#353535; vertical-align:middle; transition:border-color 0.1s;}
input[type=radio],
input[type=checkbox] { width:13px; height:13px; border:0; }
input[type=text],
input[type=password] { height:18px; line-height:20px; padding:2px 4px; border:1px solid #d5d5d5; color:#353535; font-size:12px;}
input[type=radio] + label, input[type=checkbox] + label { margin:0 4px 0 2px; }
input[type=text]:focus,
input[type=password]:focus{border-color:#333;}
input[type=text][disabled],
input[type=password][disabled]{background:#eee;}
select { height:24px; border:1px solid #d5d5d5; }
select:focus{border-color:#333;}
textarea { padding:5px 6px; border:1px solid #d5d5d5; line-height:1.5; font-family:inherit;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color:#c1c1c1; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color:#c1c1c1; }
input::-moz-placeholder, textarea::-moz-placeholder { color:#c1c1c1; opacity:1; }
legend { visibility:hidden; position:absolute; left:-9999px; top:-9999px; width:0; height:0; line-height:0; }




input[type="checkbox"],
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;  height: 20px;  width: 20px;  border:1px solid #ddd; transition: all 0.15s ease-out 0s;  background: #fff; box-shadow:none !important;
   outline:none !important;
    border-radius:3px;  color: #fdb232;  cursor: pointer;  display: inline-block;  margin-right: 5px;  z-index: 10;}

input[type="checkbox"]:active,
input[type="radio"]:active{ outline:none !important;}
input[type="checkbox"]:hover,
input[type="radio"]:hover {  border-color:#333;}
input[type="checkbox"]:checked,
input[type="radio"]:checked {  outline:none !important; }
input[type="checkbox"]:checked::before{  height: 20px;  width: 20px;  position: absolute;  content: '✔';  display: inline-block;  font-size: 15px;  text-align: center;  line-height: 20px;}
input[type="radio"]:checked::before{  top:1px;  height: 20px;  width: 20px;  position: absolute;  content: '✔';  display: inline-block;  font-size: 11px;  text-align: center;  line-height: 20px;}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
   content: '';  display: block;  position: relative;  z-index: 100;}
input[type="radio"]{  border-radius: 50%;}
input[type="radio"]:after {  border-radius: 50%;}

input[readonly][type="checkbox"],
input[readonly][type="radio"]{ pointer-events: none; }

input[readonly][type="checkbox"]:hover,
input[readonly][type="radio"]:hover{background:#eee;}

input[checked][readonly][type="checkbox"]:hover,
input[checked][readonly][type="radio"]:hover{background:#1e9cf1;}










.dimmed{position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.7); z-index:100;}
.dimmed.on{}
















/**/
